/* .nav-container{
  background-color: rgb(177, 177, 177);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.column-countainer{
  display: flex;
  justify-content: center;
  gap: 500px;
  padding-top: 50px;
}
.country-list-container{
  border:solid black;
}
.container-content{
  border:solid black;
  background-color: aqua;
} */
